<!DOCTYPE HTML>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>
    <script src="http://code.angularjs.org/angular-1.0.0rc12.min.js"></script>
    <script type="text/javascript" src="app.js"></script>

    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css">
    <link rel="stylesheet" href="app.css">

    <title>AngularJS Sticky Notes</title>
</head>
<body>
<div ng-app="myApp">
    <div id="app" ng-controller="NotebookCtrl">
        <div class="page-header">
            <h1>AngularJS Sticky Notes</h1>
        </div>
        <div class="form-actions">
            <div class="input-append">
                <form ng-submit="addNote(noteTitle);resetForm();">
                    <input class="span3" ng-model="noteTitle" size="16" type="text" placeholder="Add a note">
                    <button class="btn btn-success" type="button"
                            ng-disabled="!noteTitle" ng-click="addNote(noteTitle);resetForm();">Add Note
                    </button>
                </form>
            </div>
        </div>
        <my-notebook notes="getNotes()" ondelete="deleteNote(id)"></my-notebook>
    </div>
</div>
</body>
</html>